/*Custom dcisntaller css */


.table-head{
	background-color : #171D2B;
	color : #fff;
}

.table-head span{
	padding: 0px 2px 0px 2px;
}

#run-list .li-even{
	background-color : #CCF1FF;	
}



@media ( min-width: 40em ) {
	/* Show the table header rows and set all cells to display: table-cell */
	.my-custom-breakpoint td,
	.my-custom-breakpoint th,
	.my-custom-breakpoint tbody th,
	.my-custom-breakpoint tbody td,
	.my-custom-breakpoint thead td,
	.my-custom-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.my-custom-breakpoint td .ui-table-cell-label,
	.my-custom-breakpoint th .ui-table-cell-label {
		display: none;
	}
}

#home-page-header{
    padding-top : 20px;
}

.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:3em;
    /* remove boxshadow and border */
    border:none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px;
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}

.fixed-footer {
    position: fixed !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index:999 !important;
}
.textboxArea{
    height:100px;
}
.reasonTxt{
    height:80px;
    border:1px solid #c4c4c4;
    margin:10px 0;
    width:99%;
}

#reason{
    height:80px;
    border:1px solid #c4c4c4;
    margin:10px 0;
    width:99%;
}

/*New added*/
.distance_blk strong, .popText{text-transform:none;}
.submit-btn{text-transform:uppercase;}
.errorBlk{display:none;color:red;text-transform:none;}
.leftBlkBtn{float:left;margin-left:20px;}
.rightBlkbtn{float:right;}
.versionBlk{line-height:4.5em;font-size:15px;}
#signlookup5-popup.ui-popup-container{position:relative;left:0 !important;margin:auto 30%;}
.popupDataDisplay{margin: 0 60px;}