/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


chat {
    width: 300px;
    position: fixed;
    right: 10px;
    background: #fff;
    padding: 10px;
    bottom: 90px;
    display: none;
    box-shadow: 0px 0px 10px 5px #ddd;
}

.chat .messages-box {
    margin-top: 10px;
    max-height: 300px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.chat .messages-box .message {
    padding: 5px 10px;
    margin-bottom: 2px;
    background-color: #5290F5;
    color: #fff;
    position: relative;
    border-radius: 10px 0 0 10px;
    width: 80%;
    float: right;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.chat .messages-box .message-left {
    padding: 5px 10px;
    margin-bottom: 2px;
    background-color: #efefef;
    color: #5290F5;
    position: relative;
    border-radius: 10px 0 0 10px;
    width: 80%;
    float: left;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}



.chat .messages-box .message:first-child {
    border-radius: 10px 10px 0px 10px;
}

.chat .messages-box .message:last-child {
    border-radius: 10px 0px 10px 10px;
}

.chat .messages-box .message.active {
    background-color: #F37660;
}

.chat .messages-box .message p {
    margin: 0 10px 0 0;
}

.chat .messages-box .message .fa {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.chat .messages-box .message:hover .fa {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.chat form {
    border-top: 1px solid #ddd;
    padding: 10px;
    margin: -10px;
    margin-top: 20px;
    background-color: #fff;
}

.chat form input {
    padding: 7px 10px;
    font-size: 15px;
    width: 87%;
    border: 1px solid #ddd;
    color: #9A9797;
    font-weight: 300;
}

.chat form input:focus {
    outline: inherit;
}

.chat form input.error {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.chat form button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #4085F6;
    cursor: pointer;
}

.chat form button:focus {
    outline: inherit;
}

.message-icon {
    width: 40px;
    height: 40px;
    background: #4085F6;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
.ChatContainer.ui-corner-all{padding:0;}
.ChatContainer.ui-content .ui-listview{margin:0}


.other, .you{margin: 30px 0 55px 0;}
.other{padding-left:55px;}
.you{padding-right:55px;}

.user{
    display: block;
    color:#ccc;
    margin: -30px 0 0 15px;
    text-align:center;
}
.other .user{margin-left:0;margin-right:15px;}
#chat-page{}
.user .userimg{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #f3f3f3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
.chatusername{
color:#333;
font-size:14px;
width: 37px;
text-overflow:hidden;
overflow: hidden;
white-space: nowrap;
text-align:clear;
margin: auto;
}
.date {
    font-size: 14px;
    color: #a6a6a6;
}
.messagechatbox {
    display: block;
    padding: 10px;
    position: relative;
    color: #333;
    font-size: 15px;
    word-wrap: break-word;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    
    text-transform: none;
}
.messagechatbox:before{
    content: '';
    position: absolute;
    border-top: 16px solid rgba(0, 0, 0, 0.15);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    

    }

.other .messagechatbox:after {
        content: '';
        position: absolute;
        top: 0;
        border-top: 17px solid #d4f5be;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        
    }
.you .messagechatbox:before {
    border-top: 17px solid #c1e5f5;
    
}

.other .user {
        float: right;
    }
    
.other .date {
    float: left;
    margin: 5px 0 0 10px;
}
    
.other .messagechatbox{
        margin: 0 105px 0 0;
        background-color: #d4f5be;
}
.other .messagechatbox:before {
            margin: -10px -16px 0 0;
            right: 0;
        }
        
.other .messagechatbox:after{
            content: '';
            right: 0;
            margin: 0 -15px 0 0;
        }

.you .user {
        float: left;
    }
    
.you .date {
    float: right;
    margin: 5px 0 0 10px;
    }

.you .messagechatbox{
        margin: 0 0 0 105px;
        background-color: #c1e5f5;
}
.you .messagechatbox:before {
            margin: -10px 0 0 -16px;
            left: 0;
        }
        
.you .messagechatbox:after{
            content: '';
            left: 0;
            margin: 0 0 0 -15px;
        }
.ChatContainer, #chat-page {height:100%}
.ChatContainer .ui-corner-all.custom-corners{height:calc(100% - 166px);overflow:scroll;}
.ChatContainer .create-massage .ui-input-text{height:120px !important; width:80%;}
.ChatContainer .create-massage .ui-input-text textarea{height:120px !important;}
.create-massage {
    width: 100%;
    margin: auto;
    background-color: #00a7ff;
    padding: 15px;
    box-sizing: border-box;
    height:166px;
}
.create-massage .ui-btn{
    background-color: #00a7ff;
    color: #fff;
    text-shadow: none;
}
.Chatheadstrip{height: 50px;width: 100%;position:fixed;background-color:#00a7ff;z-index:100;clear:both;margin-top:-1px;margin-left: -1px;top:89px;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content:space-between;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
}
.chat{margin-top:190px;}
#chat-page .ui-fixed-hidden{position:fixed;}
.Chatheadstrip span a{color:#fff}
.SendContainer{
    background-color:#00a7ff;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.SendContainer button.ui-btn	{
    width: 100px;
    height: 60px;
    margin-left: 30px;
}
div#chat-page.ui-page.ui-page-theme-a.ui-page-header-fixed.ui-page-active{padding-top:0px !important;}

#chat {
    height:calc(100% - 200px);
    overflow: auto;
}

.toastmessage {
    word-wrap: break-word;
    text-transform: none;
}
.username.usernameicon{padding-left:30px;}
.usernameicon{position:relative; padding-left:10px;}
.usernameicon:after{
    content:'';
    background-image:url(../img/icons/chat_grey.png);
    width:24px;
    height:24px;
    position:absolute;
    left:2px;
    right:10px;
    top:4px;
}
.attachicon {
    background-image:url(../img/icons/clipboard.png);
    width:16px;
    height:16px;
    display:inline-block;
    margin-right :3px;
    position:relative;
    top:3px;
}
.headerposition	 .ui-header-fixed, .headerposition .Chatheadstrip, .headerposition #chat-page .ui-fixed-hidden, .headerposition  h1.ui-title{position:absolute}
.headerposition  h1.ui-title{position:absolute !important}


body .toastmessage {
    font-size : 22px;
    line-height : 25px;
}
body .jq-toast-single h2 .toastmessage { font-size : 26px;}
body .jq-toast-wrap {width : 90%}
body .close-jq-toast-single {font-size : 25px }
div.jq-toast-single.jq-has-icon.jq-icon-info {box-sizing : border-box ; -webkit-box-sizing : border-box}

.downloadicon {
    background-image: url(../img/icons/download16.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.uploadicon {
    background-image: url(../img/icons/attachmentwhite.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.captureicon {
    background-image: url(../img/icons/camera.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

#imageViewhPopupId-popup {
    left: 0!important;
    right: 0 !important;
    margin: auto;
    
}
.userlist-popup {
    max-height: 500px;
    overflow: auto;
}
#userListhPopupId-popup {
    width: 70%;
    left:50% !important;
    top:50% !important;
    
    -webkit-transform: translate(-50%,-50%) !important;
    transform:translate(-50%,-50%) !important;
}
