/*Custom dcisntaller css */


.table-head {
    background-color: #171D2B;
    color: #fff;
}

    .table-head span {
        padding: 0px 2px 0px 2px;
    }

#run-list .li-even {
    background-color: #CCF1FF;
}



@media ( min-width: 40em ) {
    /* Show the table header rows and set all cells to display: table-cell */
    .my-custom-breakpoint td,
    .my-custom-breakpoint th,
    .my-custom-breakpoint tbody th,
    .my-custom-breakpoint tbody td,
    .my-custom-breakpoint thead td,
    .my-custom-breakpoint thead th {
        display: table-cell;
        margin: 0;
    }
        /* Hide the labels in each cell */
        .my-custom-breakpoint td .ui-table-cell-label,
        .my-custom-breakpoint th .ui-table-cell-label {
            display: none;
        }
}

#home-page-header {
    padding-top: 20px;
}

.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right; /* allow multiple links stacked on the right */
    height: 100%;
    margin: 0;
    min-width: 3em;
    /* remove boxshadow and border */
    border: none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

    .split-custom-button span.ui-btn-inner {
        /* position icons in center of listitem*/
        position: relative;
        margin-top: 50%;
        margin-left: 50%;
        /* compensation for icon dimensions */
        top: 11px;
        left: -12px;
        height: 40%; /* stay within boundaries of list item */
    }

.fixed-footer {
    position: fixed !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index: 999 !important;
}

.textboxArea {
    height: 100px;
}

.reasonTxt {
    height: 80px;
    border: 1px solid #c4c4c4;
    margin: 10px 0;
    width: 99%;
}

#reason {
    height: 80px;
    border: 1px solid #c4c4c4;
    margin: 10px 0;
    width: 99%;
}

#reasonTime {
    height: 80px;
    border: 1px solid #c4c4c4;
    margin: 10px 0;
    width: 99%;
}

/*New added*/
.distance_blk strong, .popText {
    text-transform: none;
}

.submit-btn {
    text-transform: uppercase;
}

.errorBlk {
    display: none;
    color: red;
    text-transform: none;
}

.leftBlkBtn {
    float: left;
    margin-left: 20px;
}

.rightBlkbtn {
    float: right;
}

.versionBlk {
    line-height: 4.5em;
    font-size: 15px;
}

#signlookup5-popup.ui-popup-container {
    position: relative;
    left: 0 !important;
    margin: auto 30%;
}

.popupDataDisplay {
    margin: 0 60px;
}

.popupJobDisplay {
    padding: 20px 20px 20px 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.column img {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
}

.columnm, .dateLable {
    text-align: center;
}

.fancybox-title {
    text-align: center;
}

#login-page .dc-installer {
    margin: 0 15px;
}
.vehicle-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
   }
   .vehicle-content .label-text {
       font-size: .75em;
       width: 40%;
   }
   .vehicle-content .input-box {
       font-size: .75em;
       width: 60%;
   }
.btn-submit {
    text-align: center;
    margin-top: 10px;
}
.vehicle-content .captureicon.odometericon {
    top: 0;
}
.dcinstaller-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#home-page .run-btn .ui-btn {
    margin-right: 0;
    }
.popup-content {
    padding: 20px 20px ;
}
/** Rocket Chat **/
.rocket-chat-content .btn-chat {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 3em;
    text-align: right; 
}
.rocket-chat-content .btn-chat .ui-btn:last-child {
    margin-right: 0;
}
/** Jobview page **/
.jobview-page #jobdetails {
    margin-bottom: 40px;
}
.jobview-page .jobview-title {
    color : #fff;
    background-color: #171D2B;
}
.jobview-page .jobview-title .title-text  {
    padding: 0 20px;
}
.jobview-page .jobview-title a {
    font-size: 2em;
    color : #fff;
}
.jobview-page .ui-block-a {
    width: 35%;
}
.jobview-page .ui-block-b {
    width: 45%;
    padding: 0 10px;
}
.jobview-page .ui-block-c {
    width: 20%;
    padding : 5px;
    color : #fff;
    background-color: #171D2B;
}
.jobview-page .ui-body {
    padding: 1em 0;
}
.jobcomplete-title {
    display: flex;
    align-items: center;
}

.jobcomplete-title .jobcomplete-img img {
    width: 40px;
    height: 40px;
}
.jobcomplete-title .jobcomplete-title-text {
    font-size: 20px;
    padding-left: 10px;
}
#jobcompleted-page .label-text {
    font-size: 16px;
    margin: 20px 0;
}
.capture-btn {
    display: flex;
    margin-bottom: 10px;
}
.capture-btn .ui-btn {
    width: 50%;
}
.capture-btn .ui-btn:last-child {
    margin-right: 0;
}
.job-completed-images {
    display: flex;
    justify-content: center;
}
.job-completed-images .ui-btn {
    width: 130px;
    min-height: 180px;
    white-space: normal !important;
    word-break: break-word;
}
.job-completed-images .ui-btn:last-child {
    margin-right: 0;
}
.job-completed-images img {
    width: 100px;
    height: 100px;
}
#jobcompleted-page #smallImage {
    margin-bottom: 5px;
}
#job-completed .ui-select {
    margin-top: 10px;
    margin-bottom: 15px;
}
.nojobs-content {
    text-align: center;
    padding: 50px;
}
.small-img {
    margin-right: 10px;
}
.small-img img {
    width: 100px;
    height: 120px;
}
.jc-popup-content {
    max-width: 100%;
    min-width: 100%;
    display: table;
    text-align:center;
    margin: 0 auto;
}
.reallocate-job {
    padding: 20px 50px;
}
.reallocate-job #message {
   font-size: 15px;
   height: 50px !important;
}
.reallocate-job .span-text {
    min-width: 108px;
}
.reallocate-job .reallocate-input {
    display: flex;
   align-items: center;
    width:100%;
    margin-top: 10px;
}
.headerposition .ChatContainer .ui-corner-all.custom-corners {
  height: calc(100% - 485px);
  overflow: scroll;
}
.jnc-popup-control .input-control {
    min-height: 50px;
    max-width: 500px;
    width: 100%;
}
.jnc-popup-control label, .jnc-popup-control div,
.jnc-popup-control .ui-btn {
    font-size: 14px;
}
.jnc-popup-control .sign-pad {
    max-width: 500px;
    width: 100%;
    height: 350px;
    backgroung-color:lightgray;
}
@media (max-width: 767.98px) {
    h1 {
        font-size: 20px;
    }
    .page-content {
        padding-top: 10px;
    }
    #home-page .dcinstaller-tabview, #odometer-page .dcinstaller-tabview,
    .page-header .dcinstaller-tabview {
        display: none;
    }
    #home-page .dcinstaller-mobileview, #odometer-page .dcinstaller-mobileview {
        display: block;
    }
    .dcinstaller-top h1 {
        font-size: 12px;
    }
    #home-page #home-page-header .header-button-right .ui-btn-inline:last-child {
      margin-right: 0;
    }
   
    #home-page #home-page-header, #odometer-page #home-page-header  {
        display: flex;
        justify-content: center;
        padding: 20px 0 4px 0;
    }
    #home-page #home-page-header .ui-btn,
    #odometer-page #home-page-header .ui-btn,
    .page-header #home-page-header .ui-btn {
        font-size: 10.4px;
        padding: 6px 6px;
    }
    #home-page .header-button-left,
     #home-page .header-button-right,
     #odometer-page .header-button-left,
     #odometer-page .header-button-right{
        display: flex;
       }
     #home-page .dcinstaller-top, #odometer-page .dcinstaller-top {
         font-size: 0.8em;
         font-weight: bold;
         line-height: 3em;
         text-align: left;
     }
     #home-page .dcinstaller-justify,
     #odometer-page .dcinstaller-justify{
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
    #home-page .username.usernameicon {
        min-height: 14px;
    }
     #home-page .username.usernameicon, .run-btn .ui-btn {
          font-size: 10px;
     }
     #home-page .ui-tabs .ui-navbar .ui-link {
           font-size: 11px;
     }
     #home-page .ui-tabs-panel h2 {
         font-size: 14px;
     }
     #settings-page .versionBlk {
        margin-bottom: 10px;
     }
     .page-header .versionBlk {
        font-size: 15px;
        line-height: 20px;
     }
     .page-header #home-page-header {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 20px 0 4px 0;
    }
     .page-header #home-page-header .leftBlkBtn {
        margin-left: 0;
     }
     .page-header #home-page-header .header-button-left {
        padding-left: 30px;
     }
     .page-header .header-button-left.ui-btn-icon-left:after {
        width: 20px;
        height: 20px;
     }
     .page-header #home-page-header .rightBlkbtn {
         display: flex;
     }
     .custom-corners h3 {
         font-size: 15px;
     }
     .custom-corners .ui-controlgroup-controls  .ui-radio label {
         font-size: 12px;
         line-height: 20px;
     }
     .popup-responsive label,
     .popup-responsive span,
     .popup-responsive div,
     .popup-responsive p {
         font-size: 12px;
         line-height: 20px;
     }
     .popup-content,
     .popup-content label,
     .popup-content span,
     .popup-content div,
     .popup-content p {
         font-size: 12px;
         line-height: 20px;
     }
     .popup-content .ui-btn {
          font-size: 13px;
     }
     #timeclock1-popup .distance_blk, #timeclock1-popup .errorBlk {
         font-size: 14px;
         line-height: 20px;
     }
     #timeclock1-popup .ui-btn {
         font-size: 13px;
         line-height: 20px;
     }
     #timeclock1-popup h3 {
         font-size: 15px;
         line-height: 25px; 
         margin-top: 0;
         margin-bottom: 10px;
     }
     .rocket-chat-content .btn-chat {
         font-size: 0.7em;
     }
     .jobview-page #jobdetails {
         margin-bottom: 70px;
     }
     .ui-footer .footer-font-change .ui-btn {
         font-size: 12px;
         padding: 8px 10px;
         margin-right: 5px;
     }
     .jobview-page .ui-block-a {
        width: 100%;
        text-align: center;
    }
     .jobview-page .ui-block-a img {
         width: 100%;
         max-width: 150px;
     }
     .jobview-page .ui-block-b {
         width: 60%;
         margin: 10px 0;
         padding: 0;
     }
     .jobview-page .ui-block-c {
         width: 40%;
         margin: 10px 0;
     }
     .jobview-page p {
         font-size: 12px;
         line-height: 18px;
         margin-top: 0;
         margin-bottom: 5px;
     }
     .jobview-page .jobview-title a {
         font-size: 13px;
         color : #fff;
     }
     .jobview-page .dateLable {
         font-size: 12px;
    }
     .jobview-page #jobdetails strong,
     .jobview-page #jobdetails div {
         font-size: 13px;
     }
     #jobcompleted-page .label-text {
         font-size: 12px;
         margin: 10px 0;
     }
     .jobcomplete-title .jobcomplete-img img {
         width: 20px;
         height: 20px;
     }
     .jobcomplete-title .jobcomplete-title-text {
         font-size: 12px;
     }
     .capture-btn .ui-btn {
        font-size: 13px;
        padding: 10px 8px;
    }
     .job-completed-images .ui-btn {
        width: 100%;
        max-width: 100px;
        min-height: 100px;
        padding: 8px 8px;
        margin-right: 8px;
     }
     .job-completed-images p {
         font-size: 11px;
         word-break: break-word;
     }
     .job-completed-images img {
         width: 50px;
         height: 50px;
     }
     #jnc-popup-job label {
        font-size: 12px;
        line-height: 20px;
    }
     #jnc-popup-job .ui-btn {
         font-size: 13px;
     }
     #job-completed label {
         font-size: 13px;
     }
     #job-completed .ui-input {
         font-size: 14px;
         padding: 8px 8px;
     }
     #job-completed .ui-btn {
         font-size: 12px;
         padding: 8px 8px;
     }
     .nojobs-content {
         font-size: 12px;
         line-height: 20px;
         white-space: normal;
         padding: 25px;
     }
     .small-img img {
         width: 80px;
         height: 80px;
     }
     .popupJobDisplay {
         padding: 20px 10px 20px 10px;
     }
     #chat {
         height: calc(100% - 130px);
     }
     .ChatContainer .ui-corner-all.custom-corners {
        height: calc(100% - 100px);
       }
     .create-massage {
       width: 100%;
       height:  100px;
     }
     .Chatheadstrip {
         top: 57px;
     }
     .chat {
         margin-top: 120px;
     }
     .user .userimg {
        width: 45px;
        height: 45px;
     }
     .other, .you {
      margin: 15px 0 35px 0;
     }
     .you .user {
      position: relative;
      top: 20px;
     }
     .you .messagechatbox {
         margin: 0 0 0 90px;
    }
     .you {
         padding-right: 15px;
     }
     .date {
        font-size: 12px;
     }
     .chatusername {
         font-size: 12px;
         width: 37px;
     }
     .Chatheadstrip .chartmore {
         margin-left: 10px;
     }
     .Chatheadstrip .chartrefersh {
         margin-right: 5px;
     }
     .ChatContainer .create-massage .ui-input-text {
         height: 50px !important;
         width: 80%;
     }
     .SendContainer button.ui-btn {
         width: 100px;
         height: 48px;
         margin-left: 10px;
     }
     .reallocate-job {
         padding: 20px 20px;
     }
     .reallocate-job span, .reallocate-job .ui-btn,
     .reallocate-job select {
         font-size: 12px;
     }
     .reallocate-job .span-text {
         min-width: 85px;
     }
     .reallocate-job h1 {
         font-size: 16px;
     }
     .reallocate-job #message {
         font-size: 12px;
         height: 40px !important;
     }
     .popupDataDisplay {
         margin: 0 15px;
    }
     .popupDataDisplay h2 {
         font-size: 14px;
     }
     .popupDataDisplay label, .popupDataDisplay p, .popupDataDisplay .ui-btn {
         font-size: 12px;
         line-height: 20px;
     }
     .headerposition .ChatContainer .ui-corner-all.custom-corners {
         height: calc(100% - 405px);
         overflow: scroll;
     }
     .jnc-popup-control .input-control {
         min-height: 40px;
     }
     .jnc-popup-control .sign-pad {
         height: 200px;
     }
     .jnc-popup-control label, .jnc-popup-control div,
     .jnc-popup-control .ui-btn {
         font-size: 13px;
     }
}
@media (min-width: 640px) and (max-width: 767.98px) {
   #home-page #home-page-header .ui-btn,
   #odometer-page #home-page-header .ui-btn,
   .page-header #home-page-header .ui-btn {
       font-size: 12px;
   }
   .dcinstaller-top h1 {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
    .dcinstaller-top h1 {
      font-size: 12px;
    }
    #home-page .username.usernameicon, .run-btn .ui-btn {
         font-size: 11px;
    }
    #home-page .ui-tabs .ui-navbar .ui-link {
          font-size: 11px;
    }
    #home-page .ui-tabs-panel h2 {
        font-size: 14px;
    }
    .dcinstaller-top {
        display: block;
      }
    .dcinstaller-top .run-btn {
        display: flex;
        justify-content: flex-end;
    }
    #home-page #home-page-header .ui-btn {
        padding: 5px 2px;
        margin-right: 5px;
    }
    #home-page .username.usernameicon {
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    #home-page .dcinstaller-mobileview,
    #odometer-page .dcinstaller-mobileview,
     .page-header .dcinstaller-mobileview {
        display: none;
    }
    #home-page .usernameicon:after {
     top: 10px;
   }
    #jobview-page #home-page-header .leftBlkBtn .ui-btn {
        margin-top: 20px;
    }
    #home-page .dcinstaller-tabview, #odometer-page .dcinstaller-tabview {
       float: left;
       margin: 12px 0 0 10px;
    }
    #home-page .header-button-left .ui-btn,
    #odometer-page .header-button-left .ui-btn {
        margin-left: 10px;
    }
    
    #home-page .header-button-left,
    #odometer-page .header-button-left {
        float:left;
        padding: 10px 0 5px 0;
    }
    #home-page .header-button-right, #odometer-page .header-button-right  {
        float: right;
        margin: 10px 0;
    }
    
    
    /** Vehicle **/
    .vehicle-content {
      margin: 20px 0;
    }
    .vehicle-content .label-text {
        font-size: 1em;
        width:30%;
    }
    .vehicle-content .input-box {
        font-size: 1em;
        width: 70%;
    }
    .page-header .header-button-left {
           margin-top: 20px;
        }
    .page-header .header-button-right .ui-btn {
        float:left;
        margin-top: 20px;
    }
    #jobcompleted-page .runsheet-btn {
       margin-top: 20px;
    }
}

.move-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
